<ion-view view-title="Agendar Treinos">
  <ion-content class="background">
      <div class="expandex" style="background: url(img/sarados.jpg) center; background-size: cover;">
            <div class="padding">

                 <h4 class="text-center light"><strong>Agende seu treino</strong></h4>

            </div>
        </div>  
  <div class="padding">
    <h3 class="text-center light">Solicite à <strong>{{acad_agend}}</strong></h3>
    <h4 class="text-center light">o treino no dia escolhido abaixo.</h4>
 </div>
       <div class="padding">
<form name="marcacao" novalidate>
  <div class="list">
    <div class="item">
      <h4 class="text-center light">Clique no botão para especificar o dia.</h4>
    </div>
     <div class="item item-input-inset enpower">
        <label class="item item-input-wrapper">   
        <input type="text" placeholder="Data" ng-model="dataDoTreino | date:'dd/MM/yyyy'">
        </label>
        <button class="button button-energized-900 ink" ng-click="normDate()"><i class="ion-android-calendar"></i></button>
     </div>
    <div class="item">
      <h4 class="text-center light">Especifique o horário abaixo.</h4>
    </div>
     <div class="item item-input-inset enpower">
        <label class="item item-input-wrapper">   
        <input type="text" placeholder="Horário" ng-model="horeador(horaDoTreino)" required>
        </label>
        <button class="button button-energized-900 myred ink" ng-click="normHour()"><i class="ion-android-time"></i></button>
     </div>
    <div class="item">
      <h4 class="text-center light">Se houver alguma observação, escreva.</h4>
    </div>
    <div   class="item item-input-inset enpower">
        <label class="item item-input">   
        <textarea class="obs" rows="6" placeholder="Observações" ng-model="$parent.observacoes" ></textarea>
        </label>
    </div>          
  </div>
 </form>    
  <div style="text-align: right; padding-top: 10px;">
          <button ng-click="vaiTreinar()" class="button button-balanced ink" ng-disabled="marcacao.$invalid || buttonDisabled" >Agendar</button>
          &nbsp;
          <button ui-sref="app.mapa" class="button button-assertive ink">Cancelar</button>
      </div>
  </div>      
        <div ng-hide="unregistered" ng-style="pad-signature">&nbsp;</div>
  </ion-content>
</ion-view>
