<ion-view view-title="Agendar Treinos">
  <ion-content>
      <div class="expandex" style="background: url(img/sarados.jpg) center; background-size: cover;">
            <div class="padding">

                 <h4 class="text-center light"><strong>Agende seu treino</strong></h4>

            </div>
        </div>  
  <div class="padding">
    <h3 class="text-center balanced-900">Passo 1</h3>
    <h4 class="text-center balanced-900">Como deseja escolher sua academia?</h4>
 </div>
       <div class="padding">
          <button ng-click="tipPopUp();" class="button button-full button-balanced ink">Lista por cidade e bairro</button>
      </div>
       <div class="padding">
          <button ui-sref="app.mapa" class="button button-full button-assertive ink">Distância Geográfica de você?</button>
      </div>      
  </ion-content>
</ion-view>
