<ion-view view-title="Avisos">
    <button id="fab-activity" class="button button-fab button-fab-top-right expanded button-energized-900 flap"><i class="icon ion-paper-airplane"></i></button>
 
  <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in background">
      <div class="item card-item">
                  <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                      <div class="item item-text-wrap">
                <h2>Associado Multi Gym tem 10% de desconto no Miksi Sushi</h2>
                  <div class="card-footer text-right">
                      <div class="pull-left">
                          <i class="icon ion-clock"></i> just now
                      </div>
                  </div>
              </div>
          </div>
      </div>
          <div class="item card-item">
                  <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                      <div class="item item-text-wrap">
                    <h2>Promoção número 2</h2>
                      <div class="card-footer text-right">
                          <div class="pull-left">
                              <i class="icon ion-clock"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
              <div class="item card-item">
                  <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                      <div class="item item-text-wrap">
                        <h2>Promoção número 2</h2>
                          <div class="card-footer text-right">
                              <div class="pull-left">
                                  <i class="icon ion-clock"></i> 14/06 14h:27min
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
  </ion-content>
</ion-view>
