<ion-view view-title="Busca de Academias">
  <ion-content>
      <div class="expandex" style="background: url(img/topomenu.jpg) center; background-size: cover;">
            <div class="padding">

                 <h4 class="text-center light"><strong>Busca de academias</strong></h4>

            </div>
        </div>  
  <div class="padding">
    <h4 class="text-center balanced-900">Como deseja buscar sua academia?</h4>
 </div>
       <div class="padding">
          <button ng-click="tipPopUp2();" class="button button-full button-balanced ink">Busca por cidade e bairro</button>
      </div>
       <div class="padding">
          <button ui-sref="app.mapa" class="button button-full button-assertive ink">Busca pelo mapa</button>
      </div>      
  </ion-content>
</ion-view>>
