<ion-view view-title="Busca de Academias">
  <ion-content  class="background">
      <div class="expandex" style="background: url(img/topomenu.jpg) center; background-size: cover;">
            <div class="padding">

                 <h4 class="text-center light"><strong>Busca de academias</strong></h4>

            </div>
        </div>  
  <div class="padding">
    <h3 class="text-center">Como deseja buscar sua academia?</h3>
 </div>
       <div class="padding">
          <button ui-sref="app.listagem" class="button button-full button-light ink ink-dark">Busca por cidade</button>
      </div>
    <!--   <div class="padding">
          <button ui-sref="app.mapa" class="button button-full button-assertive ink">Busca pelo mapa</button>
      </div> --> 
  <div ng-hide="unregistered" ng-style="pad-signature">&nbsp;</div>    
  </ion-content>
    <div class="lowbar background" ng-hide="unregistered">
      <button class="button button-full button-energized-900 noneblock" ui-sref="app.registro"><i class="ion-unlocked"></i> Registrar-se</button>
    </div> 
</ion-view>
