<ion-view view-title="Início">
    <ion-content ng-class="background"  class="background">
      <div class="expandex" style="background: url(img/topomenu.jpg) center; background-size: cover;">
            <div class="padding">

                 <h4 class="text-center light"><strong>Academias em {{cityScape}} - {{stateScape}}</strong></h4>

            </div>
        </div>
            <div class="menosbaixo">
                  <ion-tabs class="tabs-striped tabs-top tabs-background-dark tabs-color-energized">
                    <ion-tab title="Mapa">
                        <ion-nav-view name="tab-1">
                             <div ng-include src="'templates/tabs_inicio/tab_inicio_mapa.html'"></div>
                        </ion-nav-view>
                    </ion-tab>
                    <ion-tab title="Lista">
                        <ion-nav-view name="tab-2">
                            <div ng-include src="'templates/tabs_inicio/tab_inicio_lista.html'"></div>
                        </ion-nav-view>
                    </ion-tab>
                </ion-tabs>
               </div>
        <div ng-hide="unregistered" ng-style="pad-signature">&nbsp;</div>
    </ion-content>
    <div class="lowbar background" ng-hide="unregistered">
      <button class="button button-full button-energized-900 noneblock" href="app.registro"><i class="ion-unlocked"></i> Registrar-se</button>
    </div>
       <button id="fab-profile" ng-show="false" class="button button-fab button-fab-bottom-right button-energized-900" ui-sref="app.cidades">
      <i class="icon ion-arrow-return-left"></i>
</ion-view>
