<ion-view view-title="Logout">
  <ion-content style="background: url(img/front.jpg) center; background-size: cover;">
      <div class="hero no-header flat">
          <div class="content">
              <img src="img/MULTI-SHINE.png" style="width: 100%; height: auto;"/>
          </div>
      </div>
    <div class="padding">
         <div class="the_padding">
          <button ng-click= "logout()"  class="button button-full button-assertive ink">Logout</button>
          </div>        
    </div>
  </ion-content>
</ion-view>
