<ion-view view-title="Mapa de academias"><ion-content data-tap-disabled="true">
	<ng-map id="radial" style="height: 100%;" disable-default-u-i="true">

	<info-window id="mostra" template="templates/marker_mapa_proximo.html"></info-window>
		<marker position="current" centered="true" icon="img/voce.png"></marker>
		<marker ng-repeat="(id,res) in searchResults" id={{id}} position="{{res.location}}" icon="img/dumbell.png" on-click="mandapraLa(event, {{id}})"></marker>

		<!--<shape id="circle" name="circle" centered="true"  fill-color="#ffff00" fill-opacity="0.35" stroke-weight="0"
      center="current-position" radius="1000" editable="false" ></shape> -->

	</ng-map>
	        <div ng-hide="unregistered" ng-style="pad-signature">&nbsp;</div>
    </ion-content>
    <div class="lowbar background" ng-hide="unregistered">
      <button class="button button-full button-energized-900 noneblock" ui-sref="app.registro"><i class="ion-unlocked"></i> Registrar-se</button>
    </div>    
</ion-view>
