<ion-view view-title="Meu Perfil">
    <ion-content class="animate-fade-slide-in background">
      <div class="expandex" style="background: url(img/sarados.jpg) center; background-size: cover;">
            <div class="content item-avatar">
                 <div class="avatar" style="background-image: url('{{usuarioAtivo.photoURL}}');"></div>
                 <h3 class="energized">{{usuarioAtivo.displayName}}</h3>
                 <p  class="energized">Academia FisioApp</p>
            </div>
        </div>
        </div>
        <div class="padding">
        <ion-list class="animate-blinds">
          <div class="item item-divider">
          <h2><strong>Informações Básicas</strong></h2>
          </div>
            <!--Nome -->
            <label class="item item-input item-stacked-label ink">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="Nazareth" ng-readonly="true">
            </label>
          <!-- E-mail -->
          <label class="item item-input item-stacked-label ink">
              <span class="input-label">E-mail</span>
              <input type="text" placeholder="contato@multigym.com.br" ng-readonly="true">
          </label>
           <!-- Telefone -->
          <label class="item item-input item-stacked-label ink">
              <span class="input-label">Telefone</span>
              <input type="text" placeholder="+55 21 95555-9999" ng-readonly="true">
          </label>         
          <div class="item item-divider">
            <h2><strong>Endereço</strong></h2>
          </div>
          <!--CEP -->
          <label class="item item-input item-stacked-label ink">
              <span class="input-label">CEP</span>
              <input type="text" placeholder="314">
        </label>          
        <!-- Rua -->
        <label class="item item-input item-stacked-label ink">
            <span class="input-label">Rua</span>
            <input type="text" placeholder="Rua Moreira César" ng-readonly="true">
        </label>
        <!--Numero -->
        <label class="item item-input item-stacked-label ink">
            <span class="input-label">Número</span>
            <input type="text" placeholder="147">
        </label>
        <!--Complemento -->
          <label class="item item-input item-stacked-label ink">
            <span class="input-label">Complemento</span>
            <input type="text" placeholder="314">
          </label>
        <!--Cidade -->
        <label class="item item-input item-stacked-label ink">
            <span class="input-label">Cidade</span>
            <input type="text" placeholder="314">
      </label>
      <!--Estado -->
      <label class="item item-input item-stacked-label ink">
          <span class="input-label">Estado</span>
          <input type="text" placeholder="314">
    </label>
        </ion-list>
        </div>
    </ion-content>
    <button id="fab-profile" class="button button-fab button-fab-bottom-right button-energized-900" ng-click="ajuda('Este botão leva à área de edição dos dados.')">
      <i class="icon ion-plus"></i>
    </button>
</ion-view>
