<ion-view view-title="Meu Perfil">
    <ion-content class="background">
      <div class="expandex" style="background: url(img/sarados.jpg) center; background-size: cover;">
            <div class="content item-avatar">
                 <div class="avatar" style="background-image: url('{{usuarioMod.photoURL}}');"></div>
                 <h3 class="energized">{{usuarioMod.displayName}}</h3>
                 <p  class="energized">Academia FisioApp</p>
            </div>
        </div>

        <div class="padding">
            <form name="perfilForm" novalidate>
              <div class="list">
                  <label class="item item-input item-stacked-label zero plus">
                    <span class="input-label branca">Avatar</span>

                      <img class="avatar spec_avatar" ng-src="{{theFoto}}">

                    <div>
                      <button class="button button-positive ink spec_but" ng-click="swapAvatar()">Trocar Avatar</button>  
                    </div>
                  </label>

                  <label class="item item-input item-stacked-label zero">
                    <span class="input-label branca">Nome</span>
                    <input class="" type="text" ng-model="usuarioMod.displayName" placeholder="Nome">
                  </label>  
                   <label class="item item-input item-stacked-label zero">
                    <span class="input-label branca energized">Email</span>
                    <input type="text" ng-model="usuarioMod.email" placeholder="Email">
                  </label>         

                  <label class="item item-input item-stacked-label zero">
                    <span class="input-label branca">Telefone (com DDD)</span>
                    <input type="tel" ng-model="usuarioMod.telefone" placeholder="XX XXXXX-XXXX">
                  </label>
                  <label class="item item-input item-stacked-label zero">
                    <span class="input-label branca">Cep</span>
                    <input type="tel" name="cep" ng-model="usuarioMod.cep" placeholder="CEP" via-cep="cep">
                  </label>
                  <label class="item item-input item-stacked-label zero">
                    <span class="input-label branca">Endereço Residencial</span>
                    <input type="text" ng-model="usuarioMod.endereco" placeholder="Endereço" via-cep="logradouro" name="logradouro" required>
                  </label> 
                  </label>
                  <label class="item item-input item-stacked-label zero">
                    <span class="input-label branca">Número</span>
                    <input type="text" ng-model="usuarioMod.numero" placeholder="Número" name="numero" required>
                  </label>
                    <label class="item item-input item-stacked-label zero">
                    <span class="input-label branca">Complemento</span>
                    <input type="text" ng-model="usuarioMod.complemento" placeholder="Casa, Apto. etc">
                  </label>
                   <label class="item item-input item-stacked-label zero">
                    <span class="input-label branca">Cidade</span>
                    <input type="text" ng-model="usuarioMod.cidade" placeholder="Cidade" via-cep="localidade" name="cidade" required>
                  </label>
                   <label class="item item-input item-stacked-label zero">
                    <span class="input-label branca">Bairro</span>
                    <input type="text" ng-model="usuarioMod.bairro" placeholder="Bairro" via-cep="bairro" name="bairro" required>
                  </label>
                   <label class="item item-input item-stacked-label zero">
                    <span class="input-label branca">UF</span>
                    <input type="text" ng-model="usuarioMod.estado" placeholder="UF" via-cep="uf" name="estado" required>
                  </label>                                       
              </div>
                  <button ng-disabled="perfilForm.$invalid" ng-click= "modificar()" class="button button-full button-positive ink" ng-model="LoginBut">Modificar</button>
            </form>
      </div>
        </div>
    </ion-content>
</ion-view>
