<ion-view view-title="Meu Perfil">
  <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    <div class="expandex" style="background: url(img/sarados.jpg) center; background-size: cover;">
        <div class="content item-avatar">
            <div class="avatar" style="background-image: url('img/foto_perfil.jpg');"></div>
            <h3 class="light">Marcelo Nazareth</h3>
            <p  class="light">Academia FisioApp</p>
        </div>
    </div>
  </ion-content>
</ion-view>
