<ion-view view-title="Registre-se no MultiGym">
	<ion-content  class="background">
	      <div class="expandex" style="background: url(img/topomenu.jpg) center; background-size: cover;">
	            <div class="padding">

	                 <h4 class="text-center light"><strong>Venha para o MultiGym</strong></h4>
 					<h5 class="text-center light"><strong>Call to Action</strong></h5>
	            </div>
	        </div>  
	 	<div  class="padding text-center" ng-hide="confirmed">
	 		<img src="img/MULTI-SHINE.png" style="width: 100%; height: auto;"/>
	 		<h3>Para efetivar seu cadastro precisamos que você complete suas informações.</h3>
	 		<p>Retorne depois que completar o registro".</p>

	 		            <button class="button button-full button-energized-900" ui-sref="app.perfilcompleto">Dados cadastrais</button>

	 	</div>
	 	<div  class="padding" ng-show="confirmed">
	 		<div class="text-center">
	 			<h2>MultiGym: Workout Everywhere!</h2>
	 			<h3>Texto para marketing</h3>
	 		</div>
	 		<button class="button button-full button-energized-900" ng-click="newDirection()">Continuar inscrição</button>

	 		<p>
	 			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ante eros, aliquam in tincidunt vel, posuere a mi. Pellentesque venenatis mi vitae velit varius porttitor. Suspendisse porttitor consequat tortor, eget mattis libero viverra ut. Nullam vitae tincidunt dolor. Fusce a sagittis massa. Nullam malesuada porta metus vel mattis. Pellentesque ornare felis sed elit interdum, non ullamcorper quam euismod. Sed eleifend congue velit, placerat vehicula risus facilisis consequat. Cras lobortis consectetur arcu quis commodo.
	 		</p>
	 		<p>	 		
				Nullam luctus, mi eget placerat rutrum, leo nulla cursus turpis, a facilisis nisl libero nec sapien. In hac habitasse platea dictumst. Sed tincidunt justo vel diam pretium, ut maximus urna ultrices. Nam tempus tincidunt urna, non rhoncus nunc tincidunt ac. Ut pulvinar at odio in sagittis. Sed sed semper nunc. Integer condimentum id neque in venenatis. Nam nisl arcu, tempor nec porta et, semper vitae lectus.
	 		</p>

	 		<button class="button button-full button-energized-900" ng-click="newDirection()">Continuar inscrição</button>
	 	</div>	 	
	</ion-content>
</ion-view>