<ion-view view-title="Registre-se no MultiGym">
	<ion-content  class="background">
	      <div class="expandex" style="background: url(img/topomenu.jpg) center; background-size: cover;">
	            <div class="padding">
	                 <h4 class="text-center light"><strong>Registro Finalizado</strong></h4>
	            </div>
	        </div>
	 	<div class="padding">
	 		<div class="text-center">
	 			 		<img src="img/MULTI-SHINE.png" style="width: 100%; height: auto;"/>
	 			<h2>Parabéns</h2>
	 			<h3>Você está associado à rede MultiGym!</h3>
	 		</div>
	 		<p>
	 			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ante eros, aliquam in tincidunt vel, posuere a mi. Pellentesque venenatis mi vitae velit varius porttitor. Suspendisse porttitor consequat tortor, eget mattis libero viverra ut. Nullam vitae tincidunt dolor. Fusce a sagittis massa. Nullam malesuada porta metus vel mattis. Pellentesque ornare felis sed elit interdum, non ullamcorper quam euismod. Sed eleifend congue velit, placerat vehicula risus facilisis consequat. Cras lobortis consectetur arcu quis commodo.
	 		</p>

	 		<button class="button button-full button-energized-900" ng-click="getOut()">Comece agora!</button>
	 	</div>	 	
	</ion-content>
</ion-view>