<ion-view view-title="{{parceiro.nome}}">
    <ion-content ng-class="background"  class="background">
            <div class="hero" style="background-image: url('{{parceiro.fotos.foto1.url}}');">
                <div class="content">
                    <div class="avatar" style="background-image: url('{{parceiro.logo.url}}');"></div>
                  <div class="marcador" ng-show="unregistered"><button class="button button-small dark" ng-click="agendar01(parceiro)"><i class="ion-android-calendar"></i> Check-In</button></div>                  
                    <div  class="padding_top exquisite">
                    <h3><a class="energized"><strong>{{parceiro.nome}}</strong></a></h3>
                    </div>
                </div>
            </div>
            <div class="prabaixo">
                  <ion-tabs class="tabs-striped tabs-top tabs-background-dark tabs-color-energized">
                    <ion-tab title="Informações">
                        <ion-nav-view name="tab-1">
                          <div ng-include src="'templates/tabs_academia/tab_academia_info.html'"></div>
                        </ion-nav-view>
                    </ion-tab>
                    <ion-tab title="Academia">
                        <ion-nav-view name="tab-2">                        
                          <div ng-include src="'templates/tabs_academia/tab_academia_modalidades.html'"></div>
                        </ion-nav-view>
                    </ion-tab>
                    <ion-tab title="Fotos" >
                        <ion-nav-view name="tab-3">
                          <div ng-include src="'templates/tabs_academia/tab_academia_fotos.html'"></div>
                        </ion-nav-view>
                    </ion-tab>
                    <ion-tab title="Rota" >
                        <ion-nav-view name="tab-4">
                          <div ng-include src="'templates/tabs_academia/tab_academia_mapa.html'"></div>
                        </ion-nav-view>
                    </ion-tab>
                </ion-tabs>
               </div>
                       <div ng-hide="unregistered" ng-style="pad-signature">&nbsp;</div>
    </ion-content>
       <button id="fab-profile" ng-show="false" class="button button-fab button-fab-bottom-right button-energized-900" ui-sref="app.cidades">
      <i class="icon ion-arrow-return-left"></i>
      </button>
    <div class="lowbar background" ng-hide="unregistered">
      <button class="button button-full button-energized-900 noneblock" ui-sref="app.registro"><i class="ion-unlocked"></i> Registrar-se</button>
    </div>      
</ion-view>
