mapa<ion-view view-title="Best Fit">
<ion-content class="animate-fade-slide-in">
      <div class="expandex" style="background: url(img/sarados.jpg) center; background-size: cover;">
            <div class="content item-avatar">
                 <div class="avatar" style="background-image: url('img/logo-best.jpg');"></div>
                 <h3 class="light">Academia Best Fit</h3>
                 <p  class="light">Copacabana - Rio de Janeiro</p>
            </div>
        </div>

   <div class="content padding">  

   <h3><strong>Horários:</strong> 06h às 23h30min</h3>     
   <h3><strong>Endereço:</strong></h3>
   <p>Rua Barata Ribeiro, 597, SL - Copacabana</p>
   <h3><strong>Modalidades:</strong></h3>
   <p>Ginástica<br/>
Musculação<br/>
Pilates<br/>
Localizada
   </p>   

   <h3><strong>Observações:</strong></h3>
   <p>Toadas as informações a serem mostradas aqui seriam derivadas de uma entrevista com uma academias benchmarking.
   </p>
  </ion-content>
</ion-view>
