<ion-view view-title="Treinos Agendados">
  <ion-content>
  <div class="item item-divider">
    <h3 class="text-center padding balanced-900">Próximos treinos agendados</h3>
 </div>
 <div class="list card">	

  <div class="item item-avatar">
    <img src="img/logo-best.jpg">
    <h2>Academia Best Fit</h2>
    <p>Copacabana</p>
  </div>

  <div class="item item-body">
  <h3><strong class="assertiv">Data:</strong> 19/ 07/2016</h3>
   <h3><strong>Horário:</strong> 19h30min</h3>
   <h3><strong>Endereço:</strong></h3>
   <p>Rua Barata Ribeiro, 597, SL - Copacabana</p>
   <h3><strong>Observações:</strong></h3>
    <p>
      Quaisquer informações relevantes a este treino devem ser colocadadas aqui.
    </p>
    </div>
    <p class="padding">

      <button class="right button button-small button-assertive-900" ng-click="showConfirm01();">
        Cancelar
      </button>
      <button class="right button button-small button-balanced-900" ng-click="showConfirm02();">
        Remarcar
      </button>
  </p>
</div>
<!--  *******************************************************************  -->
  <div class="item item-divider">
    <h3 class="text-center padding balanced-900">Treinos antigos</h3>
 </div>

 <div class="list card stable-bg ink ink-dark">  

  <div class="item item-avatar">
    <img src="img/logo-best.jpg">
    <h2>Academia Best Fit</h2>
    <p>Copacabana</p>
  </div>

  <div class="item item-body">
  <h3><strong class="assertiv">Data:</strong> 28/ 06/2016</h3>
   <h3><strong>Horário:</strong> 18h30min</h3>
   <h3><strong>Endereço:</strong></h3>
   <p>Rua Barata Ribeiro, 597, SL - Copacabana</p>
   <h3><strong>Observações:</strong></h3>
    <p>
      Quaisquer informações relevantes a este treino devem ser colocadadas aqui.
    </p>
    </div>

</div>

 <div class="list card stable-bg ink ink-dark">  

  <div class="item item-avatar">
    <img src="img/logo-best.jpg">
    <h2>Academia Best Fit</h2>
    <p>Copacabana</p>
  </div>

  <div class="item item-body">
  <h3><strong class="assertiv">Data:</strong> 28/ 06/2016</h3>
   <h3><strong>Horário:</strong> 18h30min</h3>
   <h3><strong>Endereço:</strong></h3>
   <p>Rua Barata Ribeiro, 597, SL - Copacabana</p>
   <h3><strong>Observações:</strong></h3>
    <p>
      Quaisquer informações relevantes a este treino devem ser colocadadas aqui.
    </p>
    </div>

</div>

 <div class="list card stable-bg ink ink-dark">  

  <div class="item item-avatar">
    <img src="img/logo-best.jpg">
    <h2>Academia Best Fit</h2>
    <p>Copacabana</p>
  </div>

  <div class="item item-body">
  <h3><strong class="assertiv">Data:</strong> 26/ 06/2016</h3>
   <h3><strong>Horário:</strong> 18h30min</h3>
   <h3><strong>Endereço:</strong></h3>
   <p>Rua Barata Ribeiro, 597, SL - Copacabana</p>
   <h3><strong>Observações:</strong></h3>
    <p>
      Quaisquer informações relevantes a este treino devem ser colocadadas aqui.
    </p>
    </div>

</div>

  </ion-content>
  <button id="fab-profile" class="button button-fab button-fab-bottom-right button-energized-900" ui-sref="app.agendar_treinos">
      <i class="icon ion-plus"></i>
      </button>
</ion-view>
