<!-- <ion-content padding="false" style="top: 0px;">
	<ng-map center="{{parceiro.endereco.geopos.lat}},{{parceiro.endereco.geopos.lng}}" style="height: 100%;" disable-default-u-i="true">
	<marker position="{{parceiro.endereco.geopos.lat}},{{parceiro.endereco.geopos.lng}}" centered="true" icon="img/dumbell.png"></marker>
	</ng-map>
</ion-content>-->
<ion-content padding="false" style="top: 0px;">
	<ng-map center="current-location" zoom="15" style="height: 100%;" disable-default-u-i="true">
	<marker position="{{parceiro.endereco.geopos.lat}},{{parceiro.endereco.geopos.lng}}" icon="img/dumbell.png"></marker>
	<marker position="current-location" icon="img/voce.png"></marker>
	<directions travel-mode="WALKING" origin="current-location" destination="{{endereco_completo}}" suppress-markers="true">
	</directions>
	</ng-map>
</ion-content>